:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }

body{
    background-color: var(--white);
    font-family: var(--font-family),var(--second-family);
  }
  * {
    text-decoration: none;
  }

 .global-header .nav-portofolio a:hover,
  a:focus {
    color: var(--ocean);
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }

  .list-nav {
    color: var(--navy-blue);
    font-style: var(--font-family);
    font-size: medium;
    display: flex;
  }

  .email,
  .tel {
    color: var(--slate);
  }
  hr {
    color: var(--cornflower);
  }

  .button {
    width: 69px;
    height: 48px;
    background-color: var(--cloud);
    color: var(--ocean);
    border: none;
  }

  .button:focus,
  .button:hover {
    color: var(--cornflower);
  }

  .list-button {
    display: flex;
  }

  .all:hover,
  .all:focus {
    color: var(--ocean);
  }

  .all {
    background-color: var(--iris);
    color: var(--white);
  }

  .list-projects {
    display: flex;
  }

  .list-item-img {
    width: 360px;
    height: 420px;
    border: solid  var(--cornflower);
    color: var(--navy-blue);
  }

  .img {
    width: 360px;
    height: 300px;
  }

  .header {
    color:var(--navy-blue);
  }
  
  .text-img {
    color: var(--slate);
  }


  .footer {
    height: 312px;
    background-color: var(--navy-blue);
    color: var(--cloud);
    text-align: left;
  }
  .blue {
    color:blue;
  }
  .clud {
    color: var(--cloud);
  }